# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zmicfgbgolezqnicflvt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptaWNmZ2Jnb2xlenFuaWNmbHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYwMDk5ODYsImV4cCI6MjEwMTU4NTk4Nn0._tR88L-PQVg7pNbUQZ3NPBnBzcGgJe4tVK0oi8xQuto
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InptaWNmZ2Jnb2xlenFuaWNmbHZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjAwOTk4NiwiZXhwIjoyMTAxNTg1OTg2fQ.07-VN0rsVrz3XeSt0H74e9xZCfcShQ-u19ExHGHYOS8

# Google AI
GEMINI_API_KEY=AI...

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
